extends layouts/main.pug
include mixins/videoPlayer.pug

block content
    .videoDetailContainer
        #videoPlayer
            +videoPlayer({
                src:video.fileUrl
            })
        .videoInfo
            if loggedUser && video.creator.id === loggedUser.id
                a(href=routes.editVideo(video.id)) 동영상 수정
            h2.title=video.title
            span.views=`조회수 ${video.views}회`
            a.creator(href=routes.userDetail(video.creator.id))=video.creator.name
            p.description=video.description
        #videoComments
            span.videoComment
                | 댓글 | 
                span#videoCommentsNumber=video.comments.length
            if loggedUser
                form.addComment
                    input(type="text" placeholder="댓글 추가하기")
            ul#commentList
                each comment in video.comments.reverse()
                    li
                        p=comment.text
                        span=comment.name
                        if loggedUser && loggedUser.id == comment.creator
                            span.delBtn 삭제
